body,html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Cool background resembling passion and dedication */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative;
}

.circle-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 20px auto;
    background-image: url('assets/pfp.jpg'); /* Replace with your photo URL */
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 2.5em;
    margin: 0;
    position: relative;
}

.typing-animation {
    border-right: 2px solid white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20) 1s infinite, blink .5s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 40px;
    height: 40px;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}
